profe<-sample(5:8, 60, replace = TRUE)
pib<-sample(0:5, 60, replace = TRUE)
ocu<-sample(40:60, 60, replace = TRUE)
desocu<-sample(3:8, 60, replace = TRUE)
da<- data.frame(profe,pib,ocu,desocu)
da1<-da [c (1:12,49:60), ]
d<- ts(da[,4], start=2010, frequency = 12)
layout(1:2)
plot(profe, main= "Profecionistas", xlab= "Meses ", ylab= "Numero de personas", col=" Red ")
plot(agregate(ocu, main= " Ocupados", xlab= "Meses", ylab= "Numero de personas", col=" Red "))
layout(1:2)
plot(pib, main= "PIB", xlab= "Meses ", ylab= "Numero de personas", col=" Red ")
plot(agregate(desocu, main= " Desocupados", xlab= "Meses", ylab= "Numero de personas", col=" Red "))
layout(1:4)
plot(profe, main= "Profecionistas", xlab= "Meses ", ylab= "Numero de personas", col=" Red ")
plot(ocu, main= " Ocupados", xlab= "Meses", ylab= "Numero de personas", col=" Red ")
plot(pib, main= "PIB", xlab= "Meses ", ylab= "Numero de personas", col=" Red ")
plot(desocu, main= " Desocupados", xlab= "Meses", ylab= "Numero de personas", col=" Red ")
to<-ts(da[,], start=2005, frequency = 4)
np<-ts(to[,1], start=2005, frequency = 4)
p<-ts(to[,2], start=2005, frequency = 4)
o<-ts(to[,3], start=2005, frequency = 4)
donp<-ts(to[,4], start=2005, frequency = 4)
seriemultiple<- ts.intersect(np,p,o,donp)
plot(seriemultiple, main= " Serie de tiempo multiple", xlab= "Meses", ylab= "Numero de personas", col=" Red ")
seriemultipleu<- window(seriemultiple, start=c(2010,1), end=c(2010,12))
plot(seriemultipleu, main= " Serie de tiempo multiple", xlab= "Meses", ylab= "Numero de personas", col=" Red ")
Como son datos aleatorios no es posible medir la tendencia estacional 
